<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link th:href="@{/css/logo.css}" rel="stylessheet" >
<div th:fragment="navbar">
        <nav>
            <ul>
                <li class="nav-item">
                <a href="#">
                    <img  class="logo" src="/img/S.png" />
                </a>
                </li>
                <li><a href="#">Introduction</a></li>
                <li><a href="">Necessity</a></li>
                <li><a href="">Tips</a></li>
            </ul>
        </nav>
</div>
</html>