*{
font-family: 'Nanum Gothic Coding', monospace;
}
body {
min-height: 100vh;
background-color: #e5edf8;
}

.input-form {
max-width: 500px;

margin-top: 20px;
padding: 40px;

background: #fff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
border-radius: 60px;
}
ul {
background-color: #e5edf8;
list-style-type: none;
margin: 10;
padding:8px 19px 8px 16px;
overflow: hidden;
border : 2px solid #fff;
font-size: 18px;
}
li {
float: left;
margin-left: 30px;
}
li a {
display: block;
background-color: #e5edf8;
color:#fff;
padding: 15px;
text-decoration: none;
text-align: center;
font-weight: bold;
}
li a:hover{
background-color: #e5edf8;
color:#12406A;
}
h1{
    align-items: center;
    color: #fff;

}