<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 화면</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link th:href="@{/css/login.css}" rel="stylessheet" > -->
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link th:href="@{/css/login.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/login.js}"></script>
          <!-- Font Awesome icons (free version)-->
          <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
          <!-- Google fonts-->
          <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
          <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #715ca8;">
  <header>
    <div th:replace="fragments/common2::navbar"></div>
  </header>
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <form class="validation-form" novalidate>
          <div class="mb-3">
            <h4 class="text-uppercase mb-4" style="font-size: 20px; text-align: center;">Easy Sign-up</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://accounts.google.com/"><i class="fab fa-fw fa-google"></i></a>
            </div>
          </div>
      </div>
    </div>
</body>

</html>