<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 화면 샘플 - Bootstrap</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link th:href="@{/css/login.css}" rel="stylessheet" > -->
  <link rel="stylesheet" th:href="@{/css/logo.css}">
  <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
<body>
  <header>
    <div th:replace="/fragments/common::navbar"></div>
  </header>
  <h1 align="center" >Let's get started!</h1>
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <form class="validation-form" novalidate>
          <div class="mb-3">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" placeholder="" value="" required>
            <div class="invalid-feedback">
              아이디를 입력해주세요.
            </div>
          </div>
          <div class="mb-3">
            <label for="pw">Password</label>
            <input type="pw" class="form-control" id="pw" placeholder="" required>
            <div class="invalid-feedback">
              패스워드를 입력해주세요.
            </div>
          </div>
          <div class="mb-4"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit"
            style="background-color: #12406A">Login</button>
          <button class="btn" type="submit" style="float:right" onclick="location.href='/signup.html'">Sign in</button>
        </form>
      </div>
    </div>
    <footer class="my-3 text-center text-small">
      <p class="mb-1">&copy; 2022 SYNERGY</p>
    </footer>
  </div>
</body>

</html>